* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.closed,
.open {
    display: none;
}

.active {
    display: block;
}