*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0D6EFD;
}

.wrapper {
    width: 750px;
    background-color: #fff;;
    border-radius: 10px;
}

.wrapper header {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 30px;
    border-bottom: 1px solid black;
}